@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

/* Navbar */
/* class="ant-menu-overflow-item ant-menu-item ant-menu-item-selected ant-menu-item-only-child" */
.ant-menu-overflow{
    width: fit-content !important;
    background-color: transparent;
    border: none !important;
}
.ant-menu-title-content{
    /* color: #ece9e9 !important; */
    color: black !important;
    margin-top: -10px !important;
}

.nav-btn .ant-btn:hover, .home-btn .ant-btn:hover, .common-btn .ant-btn:hover{
    background-color: inherit !important;
    text-decoration: underline !important;
    font-weight: bold !important;
    border: 2px solid black !important;
    color: black !important;
    /* transition: 0.5s; */
}

.ant-menu-item:hover, .ant-menu-item-selected{
    color: black !important;
    /* border-bottom: 2px solid white !important; */
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    transition: .5s;
}

.ant-menu-item::after, .ant-menu-item-selected::after{
    border: none !important;
}

/* Home */
.ant-btn:hover{
    background-color: #063661 !important;
}

/* Project */
.ant-card-body{
    padding: 0 !important;
    margin: 0 !important;
}

.project_effect{
    transition: ease-in-out ,2s;
    background-position: top;
}
  
.project_effect:hover{
background-position: bottom;
}

/* Contact */

.contact input, .contact textarea {
    outline: none !important;
    color: white !important;
    font-weight: 300 !important;
}